name: CI/CD Pipeline

on:
  push:
    branches: ["main"] # Se activa al subir código a main
    tags: ["v*.*.*"] # ¡NUEVO! Se activa al crear tags como v1.0.0

  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Instalar .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restaurar y Compilar
        run: |
          dotnet restore
          dotnet build --no-restore --configuration Release

      - name: Ejecutar Tests
        run: dotnet test --no-build --configuration Release --verbosity normal

  push-to-docker:
    needs: build-and-test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' # Evita correr en Pull Requests

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # --- NUEVO PASO: CALCULADORA DE TAGS ---
      # Esto decide automáticamente cómo llamar a la imagen
      - name: Extraer metadatos de Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/clean-ecommerce-api
          tags: |
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=semver,pattern={{version}}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Api/Dockerfile
          push: true
          # AQUI USAMOS EL RESULTADO DE LA CALCULADORA
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
