name: CI/CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      # 1. Bajar código
      - name: Checkout del código
        uses: actions/checkout@v4

      # 2. Configurar .NET
      - name: Instalar .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      # 3. Restaurar y Compilar
      - name: Restaurar dependencias
        run: dotnet restore
      - name: Compilar (Build)
        run: dotnet build --no-restore --configuration Release

      # 4. Testear (Si esto falla, NO sigue al paso de Docker)
      - name: Ejecutar Tests
        run: dotnet test --no-build --configuration Release --verbosity normal

  # NUEVO TRABAJO: Publicar Imagen Docker
  push-to-docker:
    needs: build-and-test # Solo se ejecuta si los tests pasaron
    runs-on: ubuntu-latest
    if: github.event_name == 'push' # Solo subir si es un push (no en Pull Requests)

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      # A. Loguearse en Docker Hub (Usando tus secretos)
      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # B. Configurar motor de Build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # C. Construir y Subir la imagen
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Api/Dockerfile # Indicamos dónde está el Dockerfile
          push: true
          # OJO: Cambia 'tu-usuario' por el tuyo real o usa la variable secreta
          tags: ${{ secrets.DOCKER_USERNAME }}/clean-ecommerce-api:latest
